{% extends "website/layout.html" %}

{% load static %}

{% block title %}

	{# Place the title for this particular page in here #}

{% endblock %}

{# This is the syntax for a comment! #}

{% block body %}
	<!-- Add in the body html for this page inside this block -->
	<h1>Hello world!</h1>
	<p>this is a paragraph of Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, consequuntur officia quae iusto aliquam alias? Autem quae quasi quisquam. Dignissimos modi adipisci repellendus, quas porro enim quod assumenda dolore quidem.</p>
{% endblock %}