<!-- this is the base frontend template -->
{# anything outside of a {% %} block is part of the base template #}

{% load static %}
<!-- The line above loads any files that are in the static folder (this includes css) -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- since the stylesheet is in the static folder, you use that notation to reference it -->
	<link rel="stylesheet" href="{% static 'website/styles.css' %}">

	<title>{% block title %}{% endblock %}</title>
</head>
<body>

	<!-- Navbar -->
	<div class="navbar">
    <a href="{% url 'event_list' %}">Events</a>

    {% if user.is_authenticated %}
        <a href="{% url 'athlete_matches' %}">Account</a>
        <a href="{% url 'logout' %}">Log Out</a>
    {% else %}
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}
	</div>

	{% block body %}
		{# Do not add anything in the body block in THIS file. do so on a file that uses the template #}
	{% endblock %}

	<!-- Footer -->
	<div class="footer">
		<p>&copy; 2025 Your Website Name. All Rights Reserved.</p>
		<p>Contact us: <a href="mailto:info@example.com">info@example.com</a></p>
	</div>

</body>
</html>